body{
    overflow: hidden;
    margin: 0;
}
html{
  font-size: 100px;
}
.h1{
  font-size: 7vw;
  font-weight: 500;
  margin-bottom: 0;   
}
#contact{
  font-size: 2vw;
  font-weight: normal;
}
#page1{
    height: 100vh;
    overflow: hidden;
    background-color: #EEE5DE;
}
.contact_canvas{
    position: fixed;
    top: 0;
    z-index: 2;
}
.page1_container{
    width: 80%;
    margin: 0 auto;
}
#con{
  font-size: 20px;
}
#con p {
    line-height: 2;
}
#con p span {
    font-weight: 800;
}

@media screen and (max-width: 1000px){
    .h1{
        text-align: center;
        line-height: 2;
        font-size: 9vw;
    }
    #contact{
        font-size: 42px;
    }
    #con p {
        font-size: 36px;
    }
}
