body{
  overflow: hidden;
}

html{
  font-size: 100px;
}

.h1{
	font-size: 80px;
	font-weight: 550;
	padding-top: 5%;
	margin-bottom: 0;	  
}

#contact{
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 80px;
	height: 100px;
}
#page1{
	padding-left: 15%;
	background-color: #EEE5DE
}

.btn{
	position: fixed;
	right:20px;
	top:20px;
	width: 90px;
	height: 90px;
	background:none;
	border:none;
	outline:none;

}




.spin{
	display: block;
	height: 25px;
	border-style: solid;
	border-right: none;
	border-left: none;
	border-bottom: none;
}
.spin:hover{
	border-style: solid;
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-color: gray;
	cursor: pointer;
}

#con{
	margin-top: 100px;
	font-size: 20px;
}

.menu{
	width: 100px;
	margin: 0;
	position:fixed;
	top:20px;
	right: 20px;
}
.menu span{
	display: block;
	width: 5.5vw;
	height: 0.3vh;
	background: #000000;
	position: fixed;
	top:0px;
	right: 20px;
	cursor: pointer;
	transition: all .5s;
}
.menu span:nth-of-type(1){top: 20px; opacity: 1;}
.menu span:nth-of-type(2){top: 50px;}
.menu span:nth-of-type(3){top: 50px; opacity: 1;}
.menu span:nth-of-type(4){top: 80px;}

.button{
	width: 100px;
	height: 80px;
	position: fixed;
	top:0px;
	right: 20px;
	background:none;
	border:none;
	outline:none;
    cursor: pointer;
}
#beside{
  font-family: "Quicksand", sans-serif;
  font-size: .1rem;
  padding: 0;
  position: fixed;
  top: 0;
  text-align: center;
  writing-mode: vertical-rl;
  left: 10vh;
  height: 100%;
}