.main{
    margin: 0;
}
#canvas {
    position: fixed;
    top: 0;
    z-index: -1;
}
.page{
    display: flex;
}
.first_page_container{
    margin: auto;
    width: 80%;
}
.a3{
  font-size: 6.5vw;;
  font-weight: 500;
}
.a4{
  font-size: 2.5vw;
  font-family: "仿宋";
  line-height: 10vw;
  color: #5a5a5a;
}
.a5{
  font-family: "楷体";
  font-size: 1.5vw;
  color: #636363;
}
.b1{
  padding: 24px 0 24px 0;
  width: 100%;
  align-content: flex-start;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b7{
  margin: 24px 0;
  display: flex;
  justify-content: center;
}
.c1{
  font-size: 1.4vw;
  font-family: "宋体";
}
.c2{
  padding-left: 6vw;
}
input{
    width: 55vw;
    font-size: 1.2vw;
    font-family: "仿宋";
    line-height: 2.7;
    text-indent: .5em;
    border-radius: 4px;
    border: 1px solid #cccccc;
    outline: none;
    transition: all .2s;
}
input:focus {
    border: 1px solid #000000;
}
select{
  height: 56px;
  display: block;
  width: 55vw;
  font-size: 1.6vw;
  font-family: "仿宋";
  text-align: center;
  text-align-last: center;
  outline: none;
  border-radius: 4px;
}

.input_field {
    width: 80%;
    margin: auto;
}

.a-fadein{
  -webkit-animation:fadein 1s forwards linear;
  -moz-animation:fadein 1s forwards linear;
  -ms-animation:fadein 1s forwards linear;
  animation: fadein 1s forwards linear;
}
@-webkit-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-ms-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}


.colorful {
  background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%,
  #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200% 100%;
  animation: colorful-animation 4s infinite linear;
}
@keyframes colorful-animation {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: -100% 0;
  }
}

.block{
  /*颜色覆盖渐变*/
  display: block;
  color: #ffffff;
  position: relative;
  z-index: 1;
  outline: none;
  border: none;
  line-height: 3.6;
  font-size: 18px;
  font-family: "黑体";
  background: black;
  border-radius: 5px;
  padding: 0 6vw;
}
.block::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #B0E0E6;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.2s linear;
    border-radius: 5px;
}
.block:hover {
  cursor: pointer;
}
.block:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}


.scribe{                           /*上下划线*/
  color: #595959;
  position: relative;
  z-index: 1;
}
.scribe::before,
.scribe::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: 0.2vw;
  background: #262626;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}
.scribe::before {
  top: 0;
  transform-origin: center right;
}
.scribe::after {
  bottom: 0;
  transform-origin: center left;
}
.scribe:hover {
  cursor: pointer;
}
.scribe:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
.scribe:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}


#beside{
  font-family: "Quicksand", sans-serif;
  font-size: 60%;
  padding: 0;
  position: fixed;
  top: 0;
  text-align: center;
  writing-mode: vertical-rl;
  left: 5vw;
  height: 100%;
}
/* 手机屏幕 */
@media screen and (max-width: 768px){
    .first_page_container{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        height: 60vh;
    }
    .a3, .a4, .a5{
        width: 100%;
        text-align: center;
    }
    .a3 {
        font-size: 18vw;
    }
    .a4 {
        font-size: 7vw;
    }
    .a5{
        font-size: 4vw;
        line-height: 2;
    }
    .a5 span{
        line-height: 2;
        display: block;
        text-align: center;
    }
    .b7 {
        padding: 0 24px;
    }
    .block{
        line-height: 3;
        padding: 0 12vw;
    }
    select#want {
        height: 36px;
    }
}

